<div class="task-container" data-group="{{task_id}}" data-group="{{task_group}}" data-priority="{{task_priority}}">
	<span>
		<h1 class="short-desc">{{task_title}}</h1>
		<h1 class="add-date">{{date_added}}</h1>
		<h1 class="due-date">{{date_due}}</h1>
		<h1 class="remove-task">--</h1>
	</span>
</div>
