<div class="task-container" data-id="{{_id}}" data-group="{{task_group}}" data-priority="{{task_priority}}">
	<span>
		<h1 class="short-desc">{{task_title}}</h1>
		<h1 class="add-date">{{date_added}}</h1>
		<h1 class="due-date">{{date_due}}</h1>
		<button class="remove-task" type="button">x</button>
		<button class="material-icons edit-task" type="button">mode_edit</button>
		
	</span>
</div>
