<div class="task-container" id="{{_id}}" data-group="{{task_group}}" data-priority="{{task_priority}}">
	<span>
		<h1 class="short-desc">{{task_title}}</h1>
		<h1 class="due-date">{{date_due}}</h1>
		<button class="remove-task" type="button" data-id="{{_id}}" title="Remove Task">x</button>
		<button class="material-icons edit-task" type="button" data-id="{{_id}}" title="Edit Task">mode_edit</button>

	</span>
</div>
